@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
    background: $color-bg-dark;
    color: $color-font-dark;
    font-family: "Roboto", sans-serif;
    font-size: $normal-font-size;
}