//@import "./variables";

$margin-disc: 4px 2px;
$color-disc-25: #800000;
$color-disc-20: #000080;
$color-disc-15: #808000;
$color-disc-10: #008000;
$color-disc-5: #C0C0C0;
$color-disc-2-5: #111;
$color-disc-1-25: #808080;
$color-disc-bumper: #000;
$color-disc-collar: #8A9597;

#container {
    &-disc {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        //background: rgb(65, 65, 65);
        //background: #24272e;
        max-width: 300px;
        margin: 0 auto;
        //border: red 1px solid;
        
        &-25 {
            background: $color-disc-25;
            width: 24px;
            height: 250px;
            border-radius: 2px;
            margin: 4px 2px 4px 2px; 
        }

        &-20 {
            background: $color-disc-20;
            width: 20px;
            height: 250px;
            border-radius: 2px;
            margin: $margin-disc;
        }

        &-15 {
            background: $color-disc-15;
            width: 19px;
            height: 210px;
            border-radius: 2px;
            margin: $margin-disc;
        }

        &-10 {
            background: $color-disc-10;
            width: 19px;
            height: 170px;
            border-radius: 2px;
            margin: $margin-disc;
        }

        &-5 {
            background: $color-disc-5;
            width: 17px;
            height: 130px;
            border-radius: 2px;
            margin: $margin-disc;
        }

        &-2 {
            background: $color-disc-2-5;
            width: 15px;
            height: 115px;
            border-radius: 2px;
            margin: $margin-disc;
        }

        &-1 {
            background: $color-disc-1-25;
            width: 12px;
            height: 95px;
            border-radius: 2px;
            margin: $margin-disc; 
        }

        &-b10 {
            background: $color-disc-bumper;
            width: 30px;
            height: 250px;
            border-radius: 2px;
            margin: $margin-disc; 
        }

        &-b15 {
            background: $color-disc-bumper;
            width: 35px;
            height: 250px;
            border-radius: 2px;
            margin: $margin-disc; 
        }

        &-cierreBar {
            background: $color-disc-collar;
            width: 35px;
            height: 80px;
            border-radius: 2px;
            margin: $margin-disc; 
        }
    }
}